@import "./normalize.css";
:root {
  --light-purple-color: #d5c2d5;
  --mango-yellow-color: #ffbe55;
  --ice-blue-color: #53aaec;
  --white-color: #fff;
  --dark-purple-color: #330033;
  --medium-purple-color: #550055;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  color: var(--white-color);
}
h1,
h2,
h3 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.5rem;
  color: var(--mango-yellow-color);
}
h2 {
  font-size: 2.5rem;
  color: var(--mango-yellow-color);
}
h3 {
  font-size: 1.5rem;
  padding: 0;
  margin-top: 0;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 570px) and (max-width: 1024px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.5rem;
  }
}

a {
  text-decoration: none;
  color: var(--ice-blue-color);
  font-weight: bold;
}

/*-------------Blocks-------------------------------------*/

.block {
  padding: 4rem;
  max-width: 1140px;
  margin: 0 auto 12rem;
}
.block__header {
  text-align: center;
}
/*-------------Top-padding for all blocks-------------------------------------*/

.about,
.projects_block {
  padding-top: 10rem;
  padding-top: 10rem;
}

.contact-form {
  /* projects above contact form already having a padding of 6, so here we give 4 only */
  padding-top: 4rem;
}

/*-------------Menu_bar-------------------------------*/

.menu_bar {
  transition: all 01s;
}

.menu_bar_icon {
  cursor: pointer;
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 9999;
}

.menu_bar_icon_line1 {
  display: flex;
  width: 30px;
  border: 1.8px solid white;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.menu_bar_icon_line2 {
  display: flex;
  margin-left: auto;
  width: 20px;
  border: 1.8px solid white;
  border-radius: 8px;
}

.menu_bar_list {
  background: rgba(51, 0, 51, 0.9);
  color: var(--light-purple-color);
  padding: 5rem;
}

.menu_bar_list > .list {
  text-align: center;
  padding: 1em;
}
.menu_bar_list > span {
  border-top: 0.1px solid rgba(145, 140, 164, 0.2);
}
.menu_bar_list {
  background: var(--dark-purple-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  opacity: 0;
  height: 0%;
  transform: translateY(-100%);
  transition: all 0.5s;
}
.menu_bar_list.show {
  opacity: 1;
  height: 100%;
  transform: translateY(0);
  transition: all 0.5s;
}

.list > a {
  color: inherit;
  font-weight: inherit;
}

@media screen and (min-width: 768px) {
  /* This code was written to display the menu items as a top bar for larger screens 
  and hide them on smaller screens. On smaller screens, the menu bar becomes visible when the menu icon is clicked. */
  /* .menu_bar_list {
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 999;
    overflow: hidden;
    width: 100%;
  }

  .menu_bar_list > .list {
    padding-inline: 1em;
    padding-block: 0.3em;
  } */

  /* .menu_bar_icon {
    display: none;
  } */
  /* .menu_bar_list > .list:hover {
    background: var(--white-color);
    border-radius: 20px;
    color: var(--dark-purple-color);
  } */
}

/*-------------Hero-Block-------------------------------------*/

.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_grid {
  display: grid;
  gap: 5rem;
}
.hero_grid > :nth-child(2) {
  /* to keep the hero image as center and display hero text for smaller and larger screens accordingly */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image {
  width: 100%;
}

.hero__text {
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}
.hero__tagline {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 0 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .grid,
  .hero_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__text,
  .hero__tagline {
    text-align: left;
  }
}

/*-------------Icon-------------------------------------*/

.chevron-icon {
  position: absolute;
  bottom: 2rem;
}

/*to animate the chevron icon in hero block  */

@keyframes pop {
  0% {
    transform: translate(0, 15px);
  }

  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 15px);
  }
}
.animation-pop {
  animation-name: pop;
  animation-duration: 2s;
  /*animation-delay: 0;*/
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: reverse;
}

/*------------About----------------------------------------*/

.about {
  line-height: 1.5;
}

.about > .heading {
  text-align: center;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-details {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.small-heading {
  margin-bottom: 3rem;
}

/* code written with flex*/
/* .skills {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.skills > * {
  flex: 1 0 9rem;
} */

/* code written with grid*/
.skills {
  margin-top: 5rem;
  display: grid;
  gap: 7rem;
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
}

.skills > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--light-purple-color);
  color: var(--dark-purple-color);
  border-radius: 8px;
}

.skills-icons {
  margin-top: 1rem;
  padding: 0;
  fill: var(--medium-purple-color);
  width: 70px;
  height: 70px;
}

.skills-icons-name {
  padding: 1rem;
}

/*-------------Link arrow in projects block-------------------------------------*/

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*-------------Projects-------------------------------------*/

.projects_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: start;
}

.project {
  gap: 2rem 4rem;
  margin: 6rem 4rem;
}
.project:first-of-type {
  margin-top: 8rem;
}

.project__image {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .project:nth-of-type(even) .project__content {
    order: 2;
  }
}

/*-------------Contact Info-------------------------------------*/

.contact-form h2 {
  text-align: center;
  margin-bottom: 30px;
}
.contact-form > p {
  text-align: center;
  margin-bottom: 50px;
}
.contact-form > p > span {
  font-weight: bold;
}
.form-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .form-details {
    flex-direction: row;
  }
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.name,
.email,
.message {
  margin-top: 2rem;
  padding-block: 1rem;
  background-color: transparent;
  border-bottom: 1px solid rgba(145, 140, 164, 0.6);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 8px;
  outline: none;
  color: var(--light-purple-color);
}

.contact-form button {
  margin-left: auto;
  margin-top: 4rem;
  padding: 0.7em 2em;
  width: 8em;
  background-color: transparent;
  border: 1px solid rgba(145, 140, 164, 0.6);
  color: var(--light-purple-color);
  border-radius: 8px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--white-color);
  color: var(--dark-purple-color);
}

.contact-form button:focus {
  transform: scale(1.05);
}

/*------------Footer----------------------------------------*/
.Footer {
  padding-block: 10rem;
  display: flex;
  flex-direction: column;
}
.Footer > span {
  width: 100%;
  border: 1px solid rgba(145, 140, 164, 0.6);
  margin-bottom: 4rem;
}
.Footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Footer-detail {
  padding-right: 2rem;
}
.Footer-socialMedia {
  display: flex;
  gap: 3rem;
}

.Footer-icons {
  fill: var(--light-purple-color);
  width: 30px;
  height: 30px;
}

.Project-tools {
  display: flex;
  gap: 1.2rem;
  padding-bottom: 1rem;
}
.Project-icons {
  fill: var(--light-purple-color);
  width: 20px;
  height: 20px;
}
