* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  width: 800px;
  height: fit-content;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.icons {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  border-bottom: 1px solid rgb(128, 128, 128, 0.2);
}

.icon_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
  padding-inline: 50px;
}
.icon_box > svg {
  width: 40px;
  height: 40px;
}

.icon_name {
  font-size: 14px;
  text-transform: uppercase;
  color: grey;
}

.input {
  font-size: 80px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
h1 {
  font-size: 80px;
  font-weight: 300;
  margin: 30px 0;
}
.time,
.timeer {
  border: none;
  outline: none;
  font-weight: 300;
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

.time {
  margin: 30px 0;
  font-size: 80px;
}
.timeer {
  font-size: 30px;
}
.select {
  margin-top: 30px;
  font-size: 30px;
}

.input > select > option {
  font-size: 40px;
  font-weight: 300;
}

.buttons button {
  border: none;
  outline: none;
  color: grey;
  background-color: rgb(128, 128, 128, 0.08);
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  padding-inline: 20px;
  margin: 10px;
}

.block {
  padding-inline: 50px;
  width: 100%;
  display: none;
}
.icon-alarm {
  fill: "#1a73e8";
}

.timer_show {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
