:root {
  --offwhite-color: #e5e5e5;
  --blue-color: #161a48;
  --black-color: #080001;
  --red-color: #f94f6d;
  --white-color: #eeeeee;
  --grey-color: #9aabd8;
  --fs-heading: 40px;
  --fs-score: 90px;
  --fs-btn: 18px;
  --fw-score: 400;
  --fw-heading: 700;
}

@font-face {
  font-family: "CursedTimer";
  src: url("/fonts/CursedTimer.ttf");
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--offwhite-color);
}
p {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container {
  background-color: var(--blue-color);
}
.home,
.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 100px 64px 82px;
}
h3 {
  font-family: "Verdana", sans-serif;
  font-weight: var(--fw-heading);
  font-size: var(--fs-heading);
  line-height: 36px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 21px;
}
.score_home,
.score_guest {
  font-family: "CursedTimer", sans-serif;
  background-color: var(--black-color);
  color: var(--red-color);
  border-radius: 5px;
  font-weight: var(--fw-score);
  font-size: var(--fs-score);
  line-height: 127px;
  text-align: center;

  width: 155px;
  height: 120px;
  margin-bottom: 25px;
}
.buttons_home,
.buttons_guest {
  display: flex;
  gap: 9px;
}

.btn_home,
.btn_guest,
.btn_new {
  border: 2px solid var(--grey-color);
  border-radius: 5px;
  font-family: "CursedTimer", sans-serif;
  font-weight: var(--fw-score);
  font-size: var(--fs-btn);
  line-height: 28px;
  text-align: center;
  color: var(--grey-color);
}
.btn_home,
.btn_guest {
  width: 45px;
  height: 45px;
  background-color: transparent;
}

.btn_new {
  padding: 5px;
  padding-inline: 10px;
  background-color: var(--blue-color);
  margin-top: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
