<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/MovielistAppGrid/CSS/grid.css" />
    <script src="js/main.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <style>
      .friends {
        display: flex;
        flex-direction: column;

        gap: 14px;
        margin: 20px;
      }
    </style>

    <div class="container friends">
      <div class="event_generatedby">
        <div class="user_img">
          <img src="/MovielistAppGrid/Images/yugraj.webp" alt="" />
        </div>
        <div class="user_name">Yugraj Singh</div>
      </div>

      <div class="event_generatedby">
        <div class="user_img">
          <img src="/MovielistAppGrid/Images/yugraj.webp" alt="" />
        </div>
        <div class="user_name">Yugraj Singh</div>
      </div>

      <div class="event_generatedby">
        <div class="user_img">
          <img src="/MovielistAppGrid/Images/yugraj.webp" alt="" />
        </div>
        <div class="user_name">Yugraj Singh</div>
      </div>
    </div>
  </body>
</html>
