html,
body {
  margin: 0;
  padding: 0;
}

.logo {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.container {
  display: flex;
}
.drawing-board {
  overflow: hidden;
}
#draw {
  width: 100vw;
  height: 100vh;
}

#toolbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100px;
  padding-inline: 10px;
  box-shadow: 0 0 10px #888888;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#toolbar label {
  font-size: 18px;
  font-family: sans-serif;
}

#toolbar input {
  width: 100%;
}

#toolbar button {
  background-color: #317ce4;
  border: none;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 4px;
  color: white;
  padding: 6px;
}
