@import "./normalize.css";

:root {
  --header-height: 50px;
  --red-color: #f33f3f;
  --black-color: #080808;
  --white-color: #eaeaea;
  --grey-color: #9a9a9a;
  --light-gray: #b3b3b3;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--black-color);

  /*max-height: 800px;*/
  border-radius: 8px;
  max-width: 100%;
  overflow-x: hidden;
}

/*---Page_Container---------------------------------------------*/

.container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.MoviesEvents {
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 2rem;
  margin: 0 auto;
}

/*---Header---------------------------------------------*/

.header {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  background: var(--black-color);
  z-index: 9999;
  gap: 20px;
  padding-left: 34px;
  height: var(--header-height);
}

.logo {
  color: var(--red-color);
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.menu-icon-btn {
  padding: 0;
  background: none;
  border: none;
}

/*---Icon---------------------------------------------*/
.icon {
  display: flex;
  align-items: center;
  text-align: center;
  height: 20px;
  width: 24px;
  line-height: 2rem;
  flex-shrink: 0;
}

/*---Navbar--------------------------------------------*/

.navbar {
  position: sticky;
  min-width: 170px;
  max-width: 240px;
  height: calc(100vh - var(--header-height));
  align-items: center;
  padding: 20px;
  padding-top: 1rem;
  background: var(--black-color);
  color: var(--white-color);
  top: var(--header-height);
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar::-webkit-scrollbar-track {
  background-color: var(--black-color);
}

.navbar::-webkit-scrollbar {
  width: 4px;
}

.navbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--light-gray);
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.navbar_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 20px;

  max-height: 40px;
}

.menu-icon-btn,
.movie_card,
.event_card {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--white-color);
}
.navbar_text {
  display: flex;
  justify-content: left;
  font-size: 1.4rem;
  font-weight: 400;
  overflow: hidden;
}

.navbar_tab:hover {
  background: #333;
  border-radius: 8px;
}

.navbar_tab {
  transition: background 0.3s;
}

.searchbox {
  border: 1px solid #333;
  border-radius: 8px;

  margin-bottom: 1rem;
  font-weight: 400;
}
.navbar_text > input {
  color: var(--white-color);
  background: #000000;
  border: none;
}

.line {
  border-bottom: 1px solid #333;
  margin: 1.5rem;
}

.overline > .navbar_text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: var(--grey-color);
}

.img {
  display: flex;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  overflow: hidden;
}
.createlist {
  margin-top: 20px;
  background: var(--red-color);
  border-radius: 8px;
  justify-content: center;
}
.createlist .navbar_text {
  font-weight: 700;
  color: var(--black-color);
}

.user {
  margin-top: 5rem;
  bottom: 34px;
}

.user_img {
  display: flex;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  overflow: hidden;
}
.user_name {
  color: var(--white-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.user_handle {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey-color);
}

/*---Navbar toggling--------------------------------------------*/

.nav-toggle {
  display: none;
}

@media (min-width: 900px) {
  .navbar {
    opacity: 1;
    width: 100%;
    display: block;
    transition: all 0.3s;
  }
  .navbar.open {
    width: 0;
    opacity: 0;
    display: none;
    transition: all 0.3s;
  }
}

@media (max-width: 900px) {
  .navbar {
    opacity: 0;
    width: 0;
    display: none;
    transition: all 0.3s;
  }
  .navbar.open {
    opacity: 1;
    width: 100%;
    display: block;
    transition: all 0.3s;
  }
}

/*---MoviesEvents_Example--------------------------------------------*/

.MoviesEvents_headings {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey-color);
  margin-bottom: 24px;
}
.MoviesEvents_action {
  text-transform: capitalize;
  font-weight: 700;
  color: var(--red-color);
  margin-left: 14px;
}

/*---Movies--------------------------------------------*/

.movie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 60px;
}
.movie > * {
  flex: 0 1 15%;
}

.movie_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  transition: transform 0.2s ease-out;
}

.movie_card:hover {
  transform: scale(1.05);
}

.movie_cover > img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.movie_title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--white-color);
  margin-top: 14px;
}

.movie_genre {
  display: flex;
  justify-content: left;
  align-items: center;
}

.genre {
  display: flex;
  align-items: center;
  height: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--grey-color);
}

/*---Events--------------------------------------------*/

.event {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 14px;
}
.event > * {
  flex: 0 1 30%;
}

.event_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  transition: transform 0.2s ease-out;
}

.event_card:hover {
  transform: scale(1.05);
}

.event_cover > img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.event_title {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--white-color);
  margin-top: 14px;
}

.event_description {
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--light-gray);
  margin-top: 7px;
}
.event_time {
  color: var(--white-color);
  font-weight: 600;
  margin-right: 4px;
}

.event_generatedby {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 7px;
  gap: 6px;
}
.event_generatedby .user_name {
  font-weight: 500;
  font-size: 13px;
}

.event_notification {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 14px;
}
.event_button {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 8px 12px;
  background: #333333;

  color: var(--white-color);
  color: white;
  border-radius: 8px;
  justify-content: center;
  transition: background 0.3s;
}

.event_button:hover {
  background: var(--white-color);
  color: var(--black-color);
}

.btncolor {
}

.bell {
}
