@import "./normalize.css";

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  background: #1e1e1e;
  max-width: 1422px;
  max-height: 800px;
  border-radius: 8px;
}

/*---Page_Container---------------------------------------------*/

.container {
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  margin: 0 auto;
}

.MoviesEvents {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 2rem;
}

/*---Icon---------------------------------------------*/
.icon {
  display: flex;
  align-items: center;
  height: 20px;
  width: 24px;
  line-height: 2rem;
  text-align: center;
  flex-shrink: 0;
}

/*---Navbar--------------------------------------------*/

.navbar {
  position: relative;
  background: #080808;
  color: #eaeaea;
  padding: 24px;
  width: 240px;
}

.logo {
  margin-bottom: 28px;
  margin-left: 16px;
  color: #f33f3f;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.navbar_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 20px;
  max-width: 200px;
  max-height: 40px;
}

.navbar_text {
  display: flex;
  justify-content: left;
  font-size: 1.4rem;
  font-weight: 400;
  overflow: hidden;
}

.navbar_tab:hover {
  background: #1f1f1f;
  border-radius: 8px;
}

.navbar_tab {
  transition: background 0.3s;
}

.searchbox {
  border: 1px solid #1f1f1f;
  border-radius: 8px;

  margin-bottom: 1rem;
  font-weight: 400;
}
.navbar_text > input {
  color: #5c5c5c;
  background: #000000;
  border: none;
}

.line {
  border-bottom: 1px solid #222;
  margin: 1.5rem;
}

.overline {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #9a9a9a;
}

.img {
  display: flex;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  overflow: hidden;
}
.createlist {
  margin-top: 20px;
  padding: 10px 20px 10px 12px;
  background: #f33f3f;
  border-radius: 8px;
  justify-content: center;
}
.createlist .navbar_text {
  font-weight: 700;
  font-size: 15px;
  color: #080808;
}

.user {
  position: absolute;
  bottom: 34px;
}

.user_img {
  display: flex;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  overflow: hidden;
}
.user_name {
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #eaeaea;
}
.user_handle {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8e8e8e;
}

/*---MoviesEvents_Example--------------------------------------------*/

.MoviesEvents_headings {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #9a9a9a;
  margin-bottom: 24px;
}
.MoviesEvents_action {
  text-transform: capitalize;
  font-weight: 700;
  color: #f33f3f;
  margin-left: 14px;
}

/*---Movies--------------------------------------------*/

.movie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 60px;
  flex-shrink: 0;
}

.movie_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease-out;
}

.movie_card:hover {
  transform: scale(1.05);
}

.movie_cover > img {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 180px;
  height: auto;
  height: 275px;
  object-fit: cover;
  border-radius: 8px;
}

.movie_title {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #eaeaea;
  margin-top: 14px;
}

.movie_genre {
  display: flex;
  justify-content: left;
  align-items: center;
}

.genre {
  display: flex;
  align-items: center;
  height: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #808080;
}

/*---Events--------------------------------------------*/

.event {
  display: flex;
  flex-direction: row;
  gap: 14px;
  flex-shrink: 0;
}

.event_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event_card:hover {
  transform: scale(1.05);
}
.event_card {
  transition: transform 0.2s ease-out;
}

.event_cover > img {
  display: flex;
  align-items: center;
  width: 375px;
  height: 220px;
  object-fit: cover;
  background: yellow;
  border-radius: 8px;
}

.event_title {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #eaeaea;
  margin-top: 14px;
}

.event_description {
  align-items: center;
  width: 375px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #b3b3b3;
  margin-top: 7px;
}
.event_time {
  color: #ebebeb;
  font-weight: 600;
  margin-right: 4px;
}

.event_generatedby {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 7px;
  gap: 6px;
}
.event_generatedby .user_name {
  font-weight: 500;
  font-size: 13px;
}

.event_notification {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 14px;
}
.event_button {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 8px 12px;
  background: #333333;
  color: #eaeaea;
  border-radius: 8px;
  justify-content: center;
  transition: background 0.3s;
}

.event_button:hover {
  background: #eaeaea;
  color: #080808;
}
