html {
  font-size: 62.5%;
}
body {
}

/*---Navigation-Bar---------------------------------------------*/
.Nav {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  align-items: center;
  padding: 30px;
}
.navbox {
  margin: 7px;
}
@media screen and (min-width: 768px) {
  .Nav {
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
  }
  body {
    border: white;
  }
}
/*---Photo-gallery---------------------------------------------*/
.container {
  display: grid;
  align-items: stretch;
}
.photoimg {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 500px) {
  .container {
    grid-template-rows: repeat(4, 10rem);
    grid-template-columns: 10rem;
    gap: 2px;
    justify-content: center;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .container {
    grid-template-rows: repeat(4, 25rem);
    grid-template-columns: repeat(2, 25rem);
    gap: 5px;
    justify-content: center;
  }
}
@media screen and (min-width: 900px) {
  .container {
    grid-template-rows: repeat(4, 30rem);
    grid-template-columns: repeat(3, 30rem);
    gap: 10px;
    justify-content: center;
  }
  .img3 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }
}
